<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>VillageScraper - {% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <!--<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',filename='img/favicon.ico') }}">-->
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.transitions.css') }}">
    <!-- meanmenu CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/meanmenu/meanmenu.min.css') }}">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/animate.css') }}">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/normalize.css') }}">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/scrollbar/jquery.mCustomScrollbar.min.css') }}">
    <!-- jvectormap CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/jvectormap/jquery-jvectormap-2.0.3.css') }}">
    <!-- notika icon CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/notika-custom-icon.css') }}">
    <!-- wave CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/wave/waves.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/wave/button.css') }}">
    <!-- Data Table JS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/jquery.dataTables.min.css') }}">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/responsive.css') }}">
    <!-- modernizr JS
		============================================ -->
    <script src="{{ url_for('static',filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>


    <link href="{{ url_for('static',filename='css/datapicker/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" media="screen">



</head>

<body>

    {% block body %}
    {% endblock %}



    <!-- jquery
		============================================ -->
    <script src="{{ url_for('static',filename='js/vendor/jquery-1.12.4.min.js') }}"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <!-- wow JS
		============================================ -->
    <script src="{{ url_for('static',filename='js/wow.min.js') }}"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="{{ url_for('static',filename='js/jquery-price-slider.js') }}"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="{{ url_for('static',filename='js/owl.carousel.min.js') }}"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="{{ url_for('static',filename='js/jquery.scrollUp.min.js') }}"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="{{ url_for('static',filename='js/meanmenu/jquery.meanmenu.js') }}"></script>
    <!-- counterup JS
		============================================ -->
    <script src="{{ url_for('static',filename='js/counterup/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/counterup/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/counterup/counterup-active.js') }}"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="{{ url_for('static',filename='js/scrollbar/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <!-- jvectormap JS
		============================================ -->
    <script src="{{ url_for('static',filename='js/jvectormap/jquery-jvectormap-2.0.2.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jvectormap/jvectormap-active.js') }}"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="{{ url_for('static',filename='js/sparkline/jquery.sparkline.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/sparkline/sparkline-active.js') }}"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="{{ url_for('static',filename='js/flot/jquery.flot.js') }}"></script>
    <script src="{{ url_for('static',filename='js/flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ url_for('static',filename='js/flot/curvedLines.js') }}"></script>
    <script src="{{ url_for('static',filename='js/flot/flot-active.js') }}"></script>
    <!-- knob JS
		============================================ -->
    <script src="{{ url_for('static',filename='js/knob/jquery.knob.js') }}"></script>
    <script src="{{ url_for('static',filename='js/knob/jquery.appear.js') }}"></script>
    <script src="{{ url_for('static',filename='js/knob/knob-active.js') }}"></script>
    <!--  wave JS
		============================================ -->
    <script src="{{ url_for('static',filename='js/wave/waves.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/wave/wave-active.js') }}"></script>
    <!--  todo JS
		============================================ -->
    <script src="{{ url_for('static',filename='js/todo/jquery.todo.js') }}"></script>
    <!-- plugins JS
		============================================ -->
    <script src="{{ url_for('static',filename='js/plugins.js') }}"></script>
      <!-- Data Table JS
		============================================ -->
    <script src="{{ url_for('static',filename='js/data-table/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/data-table/data-table-act.js') }}"></script>
	<!--  Chat JS
		============================================ -->
    <script src="{{ url_for('static',filename='js/chat/moment.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/chat/jquery.chat.js') }}"></script>
    <!-- main JS
		============================================ -->
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
	<!-- tawk chat JS
		============================================ -->
    <script src="{{ url_for('static',filename='js/tawk-chat.js') }}"></script>



    <script type="text/javascript" src="{{ url_for('static',filename='js/datapicker/bootstrap-datetimepicker.js') }}" charset="UTF-8"></script>
    <script type="text/javascript">
        $('.form_datetime').datetimepicker({
            //language:  'fr',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
        $('.form_date').datetimepicker({
            //language:  'fr',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
        $('.form_time').datetimepicker({
            //language:  'fr',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 1,
            minView: 0,
            maxView: 1,
            forceParse: 0
        });
    </script>

</body>

</html>