{% extends "base.html" %}

{% block title %}
    Report sources
{% endblock %}


{% block body %}
    {% include 'header.html' %}
    <!-- Breadcomb area Start-->
	<div class="breadcomb-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="breadcomb-list">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="breadcomb-wp">
									<div class="breadcomb-icon">
										<i class="notika-icon notika-windows"></i>
									</div>
									<div class="breadcomb-ctn">
										<h2>Report sources</h2>
                                        <i>Data founds:  {{ reportsources|length }}</i> ||
<!--                                        <a href="{{ url_for('static',filename='file/report.csv') }}" download>Download csv</a>-->
                                            <a href="{{ url_for('admin.export_reportsources') }}" download>Download csv</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcomb area End-->

    <!-- Data Table area Start-->
    <div class="data-table-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Data sources</th>
                                        <th>Kode pos</th>
                                        <th>Desa / Kelurahan</th>
                                        <th>Kode wilayah</th>
                                        <th>Kecamatan / Distrik</th>
                                        <th>DT2</th>
                                        <th>Kabupaten / Kota</th>
                                        <th>Provinsi</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for report in reportsources %}
                                    <tr class="odd gradeX">
                                        <td>{{ report.data_source }}</td>
                                        <td>{{ report.kode_pos }}</td>
                                        <td>{{ report.desa }}</td>
                                        <td>{{ report.kode }}</td>
                                        <td>{{ report.kecamatan }}</td>
                                        <td>{{ report.dt2 }}</td>
                                        <td>{{ report.kota }}</td>
                                        <td>{{ report.provinsi }}</td>
                                        <td>
                                            <a href="{{ url_for('admin.reportsource_delete', reportsource_id=report.id) }}">Delete</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Data Table area End-->
    {% include 'footer.html' %}
{% endblock %}